asyncio==3.4.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
click==7.1.1
cssselect2==0.3.0
defusedxml==0.6.0
Flask==1.1.1
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonrpclib-pelix==0.4.0
MarkupSafe==1.1.1
netaddr==0.7.19
pdfkit==0.6.1
Pillow==8.2.0
pycparser==2.20
pyparsing==2.4.6
Pyphen==0.9.5
six==1.14.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.0
