{% extends "basePdf.html" %}

{% block title %} Result MLAG Status {% endblock%}

{% block main %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">status</th>
        <th scope="col">device</th>
        <th scope="col">domainId</th>
        <th scope="col">local Interface</th>
        <th scope="col">peer Address</th>
        <th scope="col">peer Link</th>
        <th scope="col">config Sanity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for item in data['items'] %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.status}}</td>
        <td>{{item.localDevice}}</td>
        <td>{{item.domainId}}</td>
        <td>{{item.localInterface}}</td>
        <td>{{item.peerAddress}}</td>        
        <td>{{item.peerLink}}</td>
        <td>{{item.configSanity}}</td>
      </tr>
      {% endfor %}
      </tr>

    </tbody>
  </table>
{% endblock %}